.container{
    margin-top:75px;
    margin-bottom:300px
}
@media only screen and (max-width:500px){
    .container{
        margin-bottom:75px
    }
}
@media only screen and (min-width:768px){
    .container{
        margin-bottom:300px
    }
}